body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #101010;
}

.btn {
	color: #ffffff;
	border-radius: 0;
	background: #333333;
}

.btn:hover, 
.btn:focus,
.btn:active {
	color: #ffffff;
	border-color: aqua;
	background: #333333;
}

#nav-main-right li{
	margin-right: 5px !important;
}

.container{
	width: auto;
	padding: 0;
	margin: 0;
}

.editor-container{
	padding: 0;
	margin: 0;
}

.editor-main-menu{
	padding: 0;
	margin: 0;
}

.navbar{
	border-radius: 0;
}

.editor-main{
	padding: 0;
	margin: 0;
}

.editor-canvas{
	height: 100vh;
	padding: 0;
	margin: 0;
	background: #ffffff;
}

.editor-side-menu{
	color: #ffffff;
	height: 100vh;
	background: #333333;
	overflow: hidden;
	overflow-y: auto;
}

